.hot-report-detail{
    // 
    .detail-top{
        position: relative;
        .top-img{
            width:100%;
            height:r(240);
            display:block;            
        }
        .top-title{
            position:absolute;
            top:r(42);
            left:r(53);
            color:#fff;
            font-size:r(40);            
        }
        .top-sum{
            position:absolute;
            color:#fff;
            top:r(103);
            left:r(54);
            font-size:r(30);
            margin-right:r(54);            
        }
        .top-msg{
            position:absolute;
            right:r(54);
            bottom:r(21);
            color:#fff;
            font-size:r(26);            
            .msg-num{
                margin-right:r(30);                
            }
            .msg-read{

            }
        }
    }
    // 
    .detail-list{
        background: #fff;
        .list-box{
            margin:0 r(30);
            padding:r(30) 0; 
            display:flex;   
            border-bottom:#e6e6e6 1px solid;            
            .box-lef{
                width:r(166);
                height:r(212);  
                position:relative;                
                .lef-img{
                    width:r(166);
                    height:r(212);
                    display:block;                    
                }
                .lef-cat{
                    position:absolute;
                    bottom:0;
                    width:r(166);
                    height:r(50);
                    line-height:r(50);
                    text-align:center;
                    color:#fff;
                    font-size:r(28);
                    background:rgba(0,0,0,0.5);                    
                }
            }
            .box-rig{
                margin-left:r(25);   
                position:relative;   
                min-width:r(480); 
                max-width:r(520);             
                .rig-title{
                    font-size: r(32);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    /*display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;*/
                    line-height:r(38);
                    max-height:r(38)*2;
                    letter-spacing:r(2);                    
                }
                .rig-level{
                    display:flex;
                    align-items:center;
                    margin:r(10) 0 r(10) 0;                    
                    .level-word{
                        color:#787878;
                        font-size:r(26);
                        margin-right:r(15);                        
                    }
                    .level-start{
                        width:r(30);
                        height:r(30);
                        margin-right:r(5);                        
                    }
                }
                .rig-label{
                    position:absolute;
                    bottom:r(40);                    
                    .label-txt{
                        font-size:r(24);
                        height:r(36);
                        line-height:r(36);
                        color:#b79448;
                        border:#b79448 1px solid;
                        border-radius:r(6);
                        padding:0 r(5);
                        margin-right:r(10);                        
                    }
                }
                .right-com{
                    position:absolute;
                    bottom:0;
                    font-size:r(26);
                    color:#999;
                    height:r(38);
                    line-height:r(38);                                        
                    .com-name{
                        margin-right:r(20);                        
                    }
                    .com-time{

                    }
                }
            }
        }
    }
}