.book-detail{
    overflow-x: hidden;
   .detail-cont{
    background:#fff; 
        .cont-msg-blank{
           height: r(70); 
        }
        .cont-msg{
            background: #fff;
            width:100%;
            max-width: r(850);
            position: fixed;
            top:0;
            padding:0 r(30);
            height: r(70);
            font-size:r(32);
            color:#000000; 
            display:flex;
            align-items:center;
            justify-content:space-between;  
            border-bottom: 2px solid #dddddd;                         
            .cont-title{ 
                max-width: 65%;
                text-overflow: ellipsis;
                overflow: hidden; 
                white-space: nowrap;      
            }
            .msg-time{
                             
            }
        }
        .cont-guide{
            padding:0 r(30);
            font-size:r(30);
            background:#f3f1f1;
            padding:r(20) r(30);
            color:rgb(72,72,72);  
            text-indent:2em;
            margin-top:r(30);            
        }
        .cont-sum{
            padding:0 r(30);
            font-size:r(32); 
            line-height: r(60); 
            margin-top:r(30);
            p{
                overflow-x: hidden !important;
                img{
                    width:100%;
                    /*margin-left: -2em;*/
                }   
            } 
            img{
                width:100%;
            }           
        }
        .cont-dec-blank{
        }
        .cont-dec{
            position: fixed;
            bottom: 0;
            /*line-height: r(30);*/
            max-width: r(850);
            width:100%;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #eee;
            padding:r(30);
            font-size:r(25);            
            color: #666;
        }
    }
}